<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mahmoudhany.mystudio_v1" >

    <!-- added permissions -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.read_external_storage" />

    <!-- added large heap to increase heap size to avoid out of memory error   -->
    <!-- added instal location to prevent not enough storage error -->
    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:installLocation="auto"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dumbAct"
            android:label="@string/title_activity_dumb" >
        </activity>
        <activity
            android:name=".PhotoMenu"
            android:label="@string/title_activity_photo_menu" >
        </activity>
        <activity
            android:name=".GalleryActivity"
            android:label="@string/title_activity_gallery" >
        </activity>
        <activity
            android:name=".PicassoActivity"
            android:label="@string/title_activity_picasso" >
        </activity>
    </application>

</manifest>
